body{
    background-color: black;
  }
  h1{
    color: white; font-family: 'Caveat', cursive; text-align: center; text-transform: uppercase;
  }
  img{
    width:100%;
  }
  p{
    color: white; text-align: center;
  }
  div{
    width: 30%; margin-left: 35% ; margin-top: 7%;
  }
  img{
    border:10px solid white
  }
  h2{
     color: white; text-align: center;
  }